<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/utils.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Responsive | Site</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">
                RS
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="/index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/resources/views/features.html">
                            Features
                         </a>
                    </li>
                    <li>
                        <a href="/resources/views/docs.html">
                            Docs
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Head -->
    <section class="features-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">
                    RS Features
                </h1>
                <p class="lead">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, veritatis.
                </p>
            </div>
            <img src="../../images/server.png" alt="">
        </div>
    </section>
    <!-- Subhead -->
    <section class="features-sub-head bg-light py-3">
        <div class="container grid">
            <div>
                <h1 class="md">
                    RS Platform Features
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam delectus a, libero molestiae tempora nobis fugiat, iusto omnis vitae reiciendis labore perferendis. Impedit mollitia, ducimus inventore similique aspernatur necessitatibus totam.
                </p>
            </div>
            <img src="../../images/server2.png" alt="">
        </div>
    </section>
    <!-- List of features -->
    <section class="features-main my-2">
        <div class="container grid grid-3">
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem voluptas officia tempore beatae provident saepe sed pariatur. Eligendi, fugiat.</p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem voluptas officia tempore beatae provident saepe sed pariatur. Eligendi, fugiat.</p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem voluptas officia tempore beatae provident saepe sed pariatur. Eligendi, fugiat.</p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem voluptas officia tempore beatae provident saepe sed pariatur. Eligendi, fugiat.</p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem voluptas officia tempore beatae provident saepe sed pariatur. Eligendi, fugiat.</p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem voluptas officia tempore beatae provident saepe sed pariatur. Eligendi, fugiat.</p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>
                    RS
                </h1>
                <p>
                    Copyright &copy; 2021
                </p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/resources/views/features.html">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="/docs.html">
                            Docs
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="social">
                <a href="#">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>